.login {
  position: relative;
  float: right;
  height: 56px;
  padding-right: 20px;
  line-height: 56px;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &-img {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 12px;
    border-radius: 50%;
    background-color: #4285F4;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &-name {
    max-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    font-size: 12px;
  }

  &-info {
    display: none;
    position: absolute;
    right: 20px;
    top: 52px;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 4px;
    padding: 10px;
    color: #333;
    line-height: 20px;
    background-color: #fff;
    cursor: default;

    &::before {
      content: '';
      position: absolute;
      top: -6px;
      right: 25px;
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-right: 1px solid rgba(27,31,35,0.15);
      border-top: 1px solid rgba(27,31,35,0.15);
      transform: rotate(-45deg)
    }
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 26px;
    right: 0;
    border-top: 5px solid #999;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
}

.login.active {
  .login-info {
    display: block;
  }

  &::after {
    border-top: none;
    border-bottom: 5px solid #999;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
}

.login.no-children {
  &::after {
    display: none;
  }
}